// Create global styles here

// @import 'style.scss';

// $bgColor: #f5f5f5;
$bgColor: #BAC1B8;
$font: Helvetica;
$font-color: #474448;

body {
    background: $bgColor;
}

p {
  font-family: $font;
  color: $font-color;
}
